workflows/S1 - Company Presentation.json
{
  "name": "S1 - Company Presentation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "s1-company",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2272,
        400
      ],
      "id": "82592606-1c5a-402e-958a-d2b45d207fd9",
      "name": "Webhook",
      "webhookId": "a4cdcc9d-1068-492e-a0f5-297597e5019d"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst sectionId = body.section_id || $json.sectionId;\nconst input = body.input_json || {};\nconst context = body.plan_context || {};\nconst language = body.language || 'english';\nconst businessPlanId = body.business_plan_id;\n\nconst headings = language === 'french' ? `\n- Présentation de l'entreprise\n- Mission et Vision\n- Fondateurs et Leadership\n- Produits et Services\n` : `\n- Company Overview\n- Mission & Vision\n- Founders & Leadership\n- Products & Services\n`;\n\n\n\nconst prompt = `\nYou are a senior business consultant writing a professional business plan.\n\nYour task: Write the \"Company Presentation\" section of a business plan.\nOutput language: ${language}\n\n## INPUT DATA\n- Company Name: ${input.company_name || 'Not provided'}\n- Legal Form: ${input.legal_form || 'Not provided'}\n- Industry: ${input.industry || 'Not provided'}\n- Location: ${input.location || 'Not provided'}\n- Founding Date: ${input.founding_date || 'Not provided'}\n- Founders: ${input.founders || 'Not provided'}\n- Mission: ${input.mission || 'Not provided'}\n- Vision: ${input.vision || 'Not provided'}\n- History: ${input.history || 'Not provided'}\n- Products Summary: ${input.products_summary || 'Not provided'}\n\n## RULES\n- Use ONLY the data provided above. Do NOT invent or assume any details.\n- For any field marked \"Not provided\", write a neutral placeholder sentence such as: \"This information will be defined as the company develops.\"\n- Write at least 400 words.\n- Use formal, professional business language throughout.\n- Structure the section using these headings: ${headings}\n- NEVER repeat a sentence, phrase, or paragraph already written earlier in your response. Each paragraph MUST introduce new information.\n\n## OUTPUT FORMAT\nYou MUST return your response using EXACTLY this structure. Do not add anything before or after it.\n\n=== SECTION_TEXT ===\n[Write the full Company Presentation section here, using the headings above]\n\n=== MEMORY_SUMMARY ===\nCompany Name: [value or \"Not provided\"]\nIndustry: [value or \"Not provided\"]\nLocation: [value or \"Not provided\"]\nLegal Form: [value or \"Not provided\"]\nFounders: [value or \"Not provided\"]\nCore Product: [value or \"Not provided\"]\nTarget Market: [infer briefly from industry/products or write \"Not provided\"]\nMission: [value or \"Not provided\"]\nVision: [value or \"Not provided\"]\n`;\n\nreturn [{\n  json: {\n    prompt,\n    sectionId: sectionId,\n    business_plan_id: businessPlanId,\n    section_name: 'company_presentation',\n    language,\n    input_json: input,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        400
      ],
      "id": "e1972e20-85a6-4caf-a1ab-cb84e76d823c",
      "name": "Build Prompt S1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a professional business plan writer.\nYou MUST respond using EXACTLY this structure, with no deviations:\n\n=== SECTION_TEXT ===\n[Your full detailed section here]\n\n=== MEMORY_SUMMARY ===\n[Compact key-value facts, max 150 words, no paragraphs]\nCompany Name: \nIndustry: \nLocation: \nLegal Form: \nFounders: \nCore Product: \nTarget Market: \nMission: \nVision:\n\nDO NOT use any other headers or delimiters. START your response with === SECTION_TEXT === and nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1824,
        400
      ],
      "id": "cb345f88-631b-45a0-936d-180337e33846",
      "name": "AI S1 Company",
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"completed\",\n  \"section\": \"company_presentation\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1ce1deec-2fec-47d8-b27b-a384e08c7bf2",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\n\nconst attempts = staticData.attempts ?? 0;\nconst newAttempts = attempts + 1;\n\nif (newAttempts >= 3) {\n    staticData.attempts = 0; // reset for next execution\n    return [{ json: { ...$json, attempts: newAttempts, is_failed: 'yes' } }];\n}\n\nstaticData.attempts = newAttempts;\nreturn [{ json: { ...$json, attempts: newAttempts, is_failed: 'no' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        416
      ],
      "id": "47c0e2dc-4918-4c3f-9ae7-845e78d8e226",
      "name": "Retry Counter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json.is_failed }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -416,
        416
      ],
      "id": "bb8f1f87-61fb-4d36-957c-550130fe8bc9",
      "name": "Is Failed?"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || '';\n\nconst requiredKeywords = [\n    ['Company Overview', 'Présentation de l\\'entreprise', 'Aperçu'],\n    ['Mission'],\n    ['Vision'],\n    ['Founders', 'Fondateurs'],\n    ['Products', 'Produits', 'Services'],\n];\n\nconst missingKeywords = requiredKeywords.filter(group =>\n    !group.some(kw => output.toLowerCase().includes(kw.toLowerCase()))\n);\n\nreturn [{\n    json: {\n        ...$json,\n        keywords_valid: missingKeywords.length === 0 ? 'true' : 'false',\n        missing_keywords: missingKeywords.map(g => g[0]),\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        400
      ],
      "id": "cd6ef03c-ba05-4f40-9a2c-a03c12603bfd",
      "name": "Validate Keywords"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.keywords_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1376,
        400
      ],
      "id": "e94b3382-7b13-4f05-9a63-a86e14b56123",
      "name": "Keywords valid?"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || '';\nconst minLength = 400;\nconst length_valid = output.length >= minLength ? 'true' : 'false';\n\nreturn [{\n    json: {\n        ...$json,\n        length_valid,\n        actual_length: output.length,\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        208
      ],
      "id": "fd5fed14-ddf4-4699-b9b0-6794cb9f3ab2",
      "name": "Validation Length"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66d700f5-efc0-4520-96bf-a6c6cb27a4be",
              "leftValue": "={{ $json.length_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -928,
        208
      ],
      "id": "b45075bd-67fc-4a32-a64e-56be15710e9c",
      "name": "Length valid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e3c984a-576e-4136-8ca8-ca06bda3157c",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        192
      ],
      "id": "7b56bad0-c620-4405-91bf-2b8bee5de7b4",
      "name": "Is Saved ?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"failed\",\n  \"section\": \"company_presentation\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        224
      ],
      "id": "d73f58c7-f09b-43c8-a901-388b9bfdd846",
      "name": "Saving Failed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"failed\",\n  \"section\": \"company_presentation\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -144,
        400
      ],
      "id": "135e0aaf-57ec-48fe-ac7f-8bd4069a3ced",
      "name": "Generating Failed"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "plan_sections",
          "mode": "list",
          "cachedResultName": "plan_sections"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.sectionId }}",
        "valuesToSend": {
          "values": [
            {
              "column": "generated_text",
              "value": "={{ $json.output }}"
            },
            {
              "column": "memory_summary",
              "value": "={{ $json.memory_summary }}"
            },
            {
              "column": "tokens_input",
              "value": "={{ $json.tokens_input }}"
            },
            {
              "column": "tokens_output",
              "value": "={{ $json.tokens_output }}"
            },
            {
              "column": "tokens_total",
              "value": "={{ $json.tokens_total }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -496,
        192
      ],
      "id": "3809528e-2900-4790-baf9-8ea8586627e5",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "YbyXFsvQ7tbVBtF1",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1968,
        608
      ],
      "id": "217ca6a5-16f5-4ba1-a916-513727ab2aaa",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "WHtm7cQwd3U7HCyu",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('AI S1 Company').item.json.output || '';\n\n// Try strict format first\nlet textMatch = raw.match(/=== SECTION_TEXT ===([\\s\\S]*?)=== MEMORY_SUMMARY ===/);\nlet memMatch  = raw.match(/=== MEMORY_SUMMARY ===([\\s\\S]*?)$/);\n\n// Fallback: if model used wrong delimiter, try to split on any === ... === pattern\nif (!textMatch) {\n  const parts = raw.split(/===\\s*MEMORY_SUMMARY\\s*===/i);\n  textMatch = parts.length > 1 ? [null, parts[0].replace(/===.*?===/i, '').trim()] : null;\n  // Clean any wrong header like \"=== Company Presentation ===\" from the top\n}\n\nif (!memMatch) {\n  const parts = raw.split(/===\\s*MEMORY_SUMMARY\\s*===/i);\n  memMatch = parts.length > 1 ? [null, parts[1].trim()] : null;\n}\n\n// Strip any stray === ... === header from the section text\nlet section_text   = textMatch \n  ? textMatch[1].replace(/^===.*?===\\n?/i, '').trim() \n  : raw.trim();\nsection_text = section_text.replace(/===\\s*[^=]*?\\s*===/g, '').trim();\nconst memory_summary = memMatch ? memMatch[1].trim() : '';\n\n// Token estimation\nconst systemMsg = `You are a professional business plan writer. You MUST respond using EXACTLY this structure...`;\nconst promptText    = $('Build Prompt S1').item.json.prompt || '';\nconst isArabic      = /[\\u0600-\\u06FF]/.test(raw);\nconst charsPerToken = isArabic ? 3 : 4;\n\nconst tokens_input  = Math.round((systemMsg.length + promptText.length) / charsPerToken);\nconst tokens_output = Math.round(raw.length / charsPerToken);\nconst tokens_total  = tokens_input + tokens_output;\n\nconst buildData = $('Build Prompt S1').item.json;\n\nreturn [{\n  json: {\n    ...buildData,\n    output: section_text,\n    memory_summary,\n    tokens_input,\n    tokens_output,\n    tokens_total,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        192
      ],
      "id": "7403ca2b-04aa-48cc-9a29-6f795465a23c",
      "name": "Parse Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt S1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt S1": {
      "main": [
        [
          {
            "node": "AI S1 Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI S1 Company": {
      "main": [
        [
          {
            "node": "Validate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Counter": {
      "main": [
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Generating Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt S1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Keywords": {
      "main": [
        [
          {
            "node": "Keywords valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords valid?": {
      "main": [
        [
          {
            "node": "Validation Length",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Length": {
      "main": [
        [
          {
            "node": "Length valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Length valid": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Saved ?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saving Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Is Saved ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI S1 Company",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "02f602e2-3332-48c3-a126-0c75541ef088",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f1a720162674d642a06a18b9169c79fad98b1cd35c60e5162fc8a927fece21d"
  },
  "nodeGroups": [],
  "id": "4L0FtgoFE33NZ5B0",
  "tags": []
}