workflows/S3 - Organization & Management.json
{
  "name": "S3 - Organization & Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "s3-org",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2256,
        400
      ],
      "id": "24c888b1-232c-4a26-b139-155fdd59235b",
      "name": "Webhook",
      "webhookId": "e48410dd-2e64-406e-be6f-67ed2401b40f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"completed\",\n  \"section\": \"org_management\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "28364afc-8b60-419a-bf7d-f861c7c2efc9",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\n\nconst attempts = staticData.attempts ?? 0;\nconst newAttempts = attempts + 1;\n\nif (newAttempts >= 3) {\n    staticData.attempts = 0; // reset for next execution\n    return [{ json: { ...$json, attempts: newAttempts, is_failed: 'yes' } }];\n}\n\nstaticData.attempts = newAttempts;\nreturn [{ json: { ...$json, attempts: newAttempts, is_failed: 'no' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        416
      ],
      "id": "def83ddc-696b-48d1-bbe8-028b8109592d",
      "name": "Retry Counter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json.is_failed }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -416,
        416
      ],
      "id": "89c213b6-2dc5-4364-ba65-38c3660d2b30",
      "name": "Is Failed?"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1824,
        640
      ],
      "id": "8a7daf2b-10ad-4a75-995c-b7d1b9a63e63",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "WHtm7cQwd3U7HCyu",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || '';\n\nconst requiredKeywords = [\n    ['Management Team', 'Équipe de direction'],\n    ['Structure', 'Structure organisationnelle'],\n    ['Governance', 'Gouvernance'],\n    ['Legal', 'Juridique'],\n];\n\nconst missingKeywords = requiredKeywords.filter(group =>\n    !group.some(kw => output.toLowerCase().includes(kw.toLowerCase()))\n);\n\nreturn [{\n    json: {\n        ...$json,\n        keywords_valid: missingKeywords.length === 0 ? 'true' : 'false',\n        missing_keywords: missingKeywords.map(g => g[0]),\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        400
      ],
      "id": "9f01b728-0932-4bc2-b46d-26d9c342e681",
      "name": "Validate Keywords"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.keywords_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1376,
        400
      ],
      "id": "dee00ff2-7a78-496c-8e59-7d75cd037e7f",
      "name": "Keywords valid?"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || '';\nconst minLength = 400;\nconst length_valid = output.length >= minLength ? 'true' : 'false';\n\nreturn [{\n  json: {\n    ...$json,\n    length_valid: length_valid,\n    actual_length: output.length,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        208
      ],
      "id": "22142691-f25f-4855-93f9-50ee17940408",
      "name": "Validation Length"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66d700f5-efc0-4520-96bf-a6c6cb27a4be",
              "leftValue": "={{ $json.length_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -928,
        208
      ],
      "id": "8f95d45c-482d-4dea-9f10-2aec6bea7ba5",
      "name": "Length valid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e3c984a-576e-4136-8ca8-ca06bda3157c",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        192
      ],
      "id": "0e0540fc-f8bc-416d-9b41-eed4dff72e27",
      "name": "Is Saved ?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"failed\",\n  \"section\": \"org_management\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        224
      ],
      "id": "e10d88a4-21ab-474f-b7e2-9ca60d2927ed",
      "name": "Saving Failed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"failed\",\n  \"section\": \"org_management\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -144,
        400
      ],
      "id": "f8e0e3be-ef62-4036-a4cf-9e0a85a48a95",
      "name": "Generating Failed"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst sectionId = body.section_id\nconst input = body.input_json || {};\nconst context = body.plan_context || {};\nconst language = body.language || 'english';\nconst businessPlanId = body.business_plan_id;\n\nconst headings = language === 'french' ? `\n- Équipe de direction\n- Structure organisationnelle\n- Gouvernance\n- Cadre juridique\n` : `\n- Management Team\n- Organizational Structure\n- Governance\n- Legal Framework\n`;\n\nconst prompt = `\nYou are a senior organizational consultant writing a professional business plan.\n\nYour task: Write the \"Organization & Management\" section of a business plan.\nOutput language: ${language}\n\n## COMPANY CONTEXT\n${context.company_presentation || 'Not provided'}\n\n## MARKET CONTEXT\n${context.market_analysis || 'Not provided'}\n\n## ORGANIZATION INPUT DATA\n- Management Team: ${input.management_team || 'Not provided'}\n- Governance Model: ${input.governance_model || 'Not provided'}\n- Organizational Structure: ${input.org_structure || 'Not provided'}\n- Key Departments: ${input.key_departments || 'Not provided'}\n- Advisory Board: ${input.advisory_board || 'Not provided'}\n- Legal Setup: ${input.legal_setup || 'Not provided'}\n\n## RULES\n- Use ONLY the data provided above. Do NOT invent names, roles, or credentials.\n- For any field marked \"Not provided\", write: \"This will be defined as the organizational structure matures.\"\n- Where company or market context is available, align the org structure to the company's stage and market demands.\n- Write at least 400 words.\n- Use formal, professional business language throughout.\n- Structure the section using these headings: ${headings}\n- NEVER repeat a sentence, phrase, or paragraph already written earlier in your response. Each paragraph MUST introduce new information.\n\n## OUTPUT FORMAT\nReturn your response using EXACTLY this structure. Nothing before. Nothing after.\n\n=== SECTION_TEXT ===\n[Write the full Organization & Management section here, using the headings above]\n\n=== MEMORY_SUMMARY ===\nCEO: [full name and brief role description, or \"Not provided\"]\nCTO: [full name and brief role description, or \"Not provided\"]\nTeam Size: [value or \"Not provided\"]\nStructure: [flat / hierarchical / matrix / other — inferred from org_structure or \"Not provided\"]\nLegal Entity: [value from legal_setup or \"Not provided\"]\nAdvisory Board: [names or \"Not provided\"]\n`;\n\nreturn [{\n  json: {\n    prompt,\n    sectionId: sectionId,\n    business_plan_id: businessPlanId,\n    section_name: 'org_management',\n    language,\n    input_json: input,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        400
      ],
      "id": "203613c1-038b-4154-9ac4-292f904bafa3",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "plan_sections",
          "mode": "list",
          "cachedResultName": "plan_sections"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.sectionId }}",
        "valuesToSend": {
          "values": [
            {
              "column": "generated_text",
              "value": "={{ $json.output }}"
            },
            {
              "column": "memory_summary",
              "value": "={{ $json.memory_summary }}"
            },
            {
              "column": "tokens_input",
              "value": "={{ $json.tokens_input }}"
            },
            {
              "column": "tokens_output",
              "value": "={{ $json.tokens_output }}"
            },
            {
              "column": "tokens_total",
              "value": "={{ $json.tokens_total }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -512,
        192
      ],
      "id": "fefbb3d6-d9d4-40a8-97e2-703ea208214e",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "YbyXFsvQ7tbVBtF1",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('AI Agent').item.json.output || '';\n\nlet textMatch = raw.match(/=== SECTION_TEXT ===([\\s\\S]*?)=== MEMORY_SUMMARY ===/);\nlet memMatch  = raw.match(/=== MEMORY_SUMMARY ===([\\s\\S]*?)$/);\n\nif (!textMatch) {\n  const parts = raw.split(/===\\s*MEMORY_SUMMARY\\s*===/i);\n  textMatch = parts.length > 1 ? [null, parts[0].replace(/===.*?===/i, '').trim()] : null;\n}\nif (!memMatch) {\n  const parts = raw.split(/===\\s*MEMORY_SUMMARY\\s*===/i);\n  memMatch = parts.length > 1 ? [null, parts[1].trim()] : null;\n}\n\nlet section_text   = textMatch ? textMatch[1].replace(/^===.*?===\\n?/i, '').trim() : raw.trim();\nsection_text = section_text.replace(/===\\s*[^=]*?\\s*===/g, '').trim();\nconst memory_summary = memMatch ? memMatch[1].trim() : '';\n\nconst promptText   = $('Build Prompt').item.json.prompt || '';\nconst tokens_input  = Math.round(promptText.length / 4);\nconst tokens_output = Math.round(raw.length / 4);\nconst tokens_total  = tokens_input + tokens_output;\n\nconst buildData = $('Build Prompt').item.json;\nreturn [{\n  json: {\n    ...buildData,\n    output: section_text,\n    memory_summary,\n    tokens_input,\n    tokens_output,\n    tokens_total,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        192
      ],
      "id": "f2146348-dc59-42f3-8234-d6e19cee5b1b",
      "name": "Parse Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a professional business plan writer. Always respond with well-structured, professional content.\nAlways return your response in exactly this format, with no text before or after:\n\n=== SECTION_TEXT ===\n[Your full detailed section here]\n\n=== MEMORY_SUMMARY ===\n[Compact key-value facts, max 150 words, no paragraphs]\nCEO:\nCTO:\nTeam Size:\nStructure:\nLegal Entity:\nAdvisory Board:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1824,
        400
      ],
      "id": "e9880b90-c86f-4541-81a2-f2dc90f943b4",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Counter": {
      "main": [
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Generating Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Validate Keywords": {
      "main": [
        [
          {
            "node": "Keywords valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords valid?": {
      "main": [
        [
          {
            "node": "Validation Length",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Length": {
      "main": [
        [
          {
            "node": "Length valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Length valid": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Saved ?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saving Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Is Saved ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b7a15ecf-1b72-497c-9583-05c169e14ced",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f1a720162674d642a06a18b9169c79fad98b1cd35c60e5162fc8a927fece21d"
  },
  "nodeGroups": [],
  "id": "gt8b0Dr09SzGhFZq",
  "tags": []
}