workflows/S4 - Strategy.json
{
  "name": "S4 - Strategy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "s4-strategy",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2256,
        400
      ],
      "id": "0c5d84b3-43f7-4f63-a86c-db9919f0c056",
      "name": "Webhook",
      "webhookId": "556e7efb-8e32-47db-8270-83291722a63f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"completed\",\n  \"section\": \"strategy\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "fa77c447-8997-4efc-bf07-bc61c23437fa",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\n\nconst attempts = staticData.attempts ?? 0;\nconst newAttempts = attempts + 1;\n\nif (newAttempts >= 3) {\n    staticData.attempts = 0; // reset for next execution\n    return [{ json: { ...$json, attempts: newAttempts, is_failed: 'yes' } }];\n}\n\nstaticData.attempts = newAttempts;\nreturn [{ json: { ...$json, attempts: newAttempts, is_failed: 'no' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        416
      ],
      "id": "fdb261aa-50c7-44d5-a52a-b97702d193dd",
      "name": "Retry Counter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json.is_failed }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        416
      ],
      "id": "a9fe0628-365b-4a3d-909f-efab44906879",
      "name": "Is Failed?"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1808,
        656
      ],
      "id": "fb345a2e-1fa7-49da-b89d-97a3ab1a6f7a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "WHtm7cQwd3U7HCyu",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || '';\n\nconst requiredKeywords = [\n    ['Commercial', 'Stratégie commerciale'],\n    ['Marketing', 'Stratégie marketing'],\n    ['Development', 'Développement'],\n];\n\nconst missingKeywords = requiredKeywords.filter(group =>\n    !group.some(kw => output.toLowerCase().includes(kw.toLowerCase()))\n);\n\nreturn [{\n    json: {\n        ...$json,\n        keywords_valid: missingKeywords.length === 0 ? 'true' : 'false',\n        missing_keywords: missingKeywords.map(g => g[0]),\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        400
      ],
      "id": "ce32a079-a8a3-42e3-b792-a3bae5abe9b8",
      "name": "Validate Keywords"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.keywords_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1360,
        400
      ],
      "id": "4e3b81ea-103a-44be-84b7-458023459b7b",
      "name": "Keywords valid?"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || '';\nconst minLength = 400;\nconst length_valid = output.length >= minLength ? 'true' : 'false';\n\nreturn [{\n  json: {\n    ...$json,\n    length_valid: length_valid,\n    actual_length: output.length,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        208
      ],
      "id": "1ee1d770-a906-4dae-9d6f-1f88bc0938c2",
      "name": "Validation Length"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66d700f5-efc0-4520-96bf-a6c6cb27a4be",
              "leftValue": "={{ $json.length_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -912,
        208
      ],
      "id": "df594a22-7e57-435d-b933-5fc16461add3",
      "name": "Length valid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e3c984a-576e-4136-8ca8-ca06bda3157c",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        192
      ],
      "id": "30788458-e576-41ea-b57d-4cb569502666",
      "name": "Is Saved ?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"failed\",\n  \"section\": \"strategy\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        224
      ],
      "id": "98c71585-4666-4222-810a-5c16ab89edd8",
      "name": "Saving Failed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"failed\",\n  \"section\": \"strategy\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -128,
        400
      ],
      "id": "a2ef09f3-2873-4dca-9d69-8a0e3bd7374f",
      "name": "Generating Failed"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst sectionId = body.section_id;\nconst input = body.input_json || {};\nconst context = body.plan_context || {};\nconst language = body.language || 'english';\nconst businessPlanId = body.business_plan_id;\n\nconst headings = language === 'french' ? `\n- Stratégie commerciale\n- Stratégie marketing\n- Stratégie de développement\n` : `\n- Commercial Strategy\n- Marketing Strategy\n- Development Strategy\n`;\n\nconst prompt = `\nYou are a senior business strategist writing a professional business plan.\n\nYour task: Write the \"Strategy\" section of a business plan.\nOutput language: ${language}\n\n## COMPANY CONTEXT\n${context.company_presentation || 'Not provided'}\n\n## MARKET CONTEXT\n${context.market_analysis || 'Not provided'}\n\n## ORGANIZATION CONTEXT\n${context.org_management || 'Not provided'}\n\n## STRATEGY INPUT DATA\n- Commercial Strategy: ${input.commercial_strategy || 'Not provided'}\n- Sales Channels: ${input.sales_channels || 'Not provided'}\n- Revenue Streams: ${input.revenue_streams || 'Not provided'}\n- Pricing Model: ${input.pricing_model || 'Not provided'}\n- Marketing Approach: ${input.marketing_approach || 'Not provided'}\n- Brand Positioning: ${input.brand_positioning || 'Not provided'}\n- Acquisition Channels: ${input.acquisition_channels || 'Not provided'}\n- Development Roadmap: ${input.dev_roadmap || 'Not provided'}\n- R&D Plans: ${input.rd_plans || 'Not provided'}\n- Product Milestones: ${input.product_milestones || 'Not provided'}\n\n## RULES\n- Use ONLY the data provided above. Do NOT invent strategies, metrics, or projections.\n- For any field marked \"Not provided\", write: \"This strategic element will be defined during the planning phase.\"\n- Connect the strategy directly to market opportunities and organizational capabilities established in the context above.\n- Revenue model, pricing, and acquisition channels MUST be internally consistent with each other.\n- Write at least 400 words.\n- Use formal, strategic business language throughout.\n- Structure the section using these headings: ${headings}\n- NEVER repeat a sentence, phrase, or paragraph already written earlier in your response. Each paragraph MUST introduce new information.\n\n## OUTPUT FORMAT\nReturn your response using EXACTLY this structure. Nothing before. Nothing after.\n\n=== SECTION_TEXT ===\n[Write the full Strategy section here, using the headings above]\n\n=== MEMORY_SUMMARY ===\nRevenue Model: [value or \"Not provided\"]\nPricing: [value or \"Not provided\"]\nSales Channels: [value or \"Not provided\"]\nKey Revenue Streams: [value or \"Not provided\"]\nBrand Positioning: [value or \"Not provided\"]\nAcquisition Channels: [value or \"Not provided\"]\nRoadmap Horizon: [earliest to latest milestone date range, or \"Not provided\"]\n`;\n\nreturn [{\n  json: {\n    prompt,\n    sectionId: sectionId,\n    business_plan_id: businessPlanId,\n    section_name: 'strategy',\n    language,\n    input_json: input,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        400
      ],
      "id": "d56ed712-883d-45e2-962f-4891d2e813be",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a professional business plan writer. Always respond with well-structured, professional content.\nAlways return your response in exactly this format, with no text before or after:\n\n=== SECTION_TEXT ===\n[Your full detailed section here]\n\n=== MEMORY_SUMMARY ===\n[Compact key-value facts, max 150 words, no paragraphs]\nRevenue Model:\nPricing:\nSales Channels:\nKey Revenue Streams:\nBrand Positioning:\nAcquisition Channels:\nRoadmap Horizon:\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1808,
        400
      ],
      "id": "04537c97-8c76-49a6-8005-13a05cda5e4e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "plan_sections",
          "mode": "list",
          "cachedResultName": "plan_sections"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.sectionId }}",
        "valuesToSend": {
          "values": [
            {
              "column": "generated_text",
              "value": "={{ $json.output }}"
            },
            {
              "column": "memory_summary",
              "value": "={{ $json.memory_summary }}"
            },
            {
              "column": "tokens_input",
              "value": "={{ $json.tokens_input }}"
            },
            {
              "column": "tokens_output",
              "value": "={{ $json.tokens_output }}"
            },
            {
              "column": "tokens_total",
              "value": "={{ $json.tokens_total }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -512,
        192
      ],
      "id": "227da4f9-91f0-4441-8762-527dfa02a375",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "YbyXFsvQ7tbVBtF1",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('AI Agent').item.json.output || '';\n\nlet textMatch = raw.match(/=== SECTION_TEXT ===([\\s\\S]*?)=== MEMORY_SUMMARY ===/);\nlet memMatch  = raw.match(/=== MEMORY_SUMMARY ===([\\s\\S]*?)$/);\n\nif (!textMatch) {\n  const parts = raw.split(/===\\s*MEMORY_SUMMARY\\s*===/i);\n  textMatch = parts.length > 1 ? [null, parts[0].replace(/===.*?===/i, '').trim()] : null;\n}\nif (!memMatch) {\n  const parts = raw.split(/===\\s*MEMORY_SUMMARY\\s*===/i);\n  memMatch = parts.length > 1 ? [null, parts[1].trim()] : null;\n}\n\nlet section_text   = textMatch ? textMatch[1].replace(/^===.*?===\\n?/i, '').trim() : raw.trim();\nsection_text = section_text.replace(/===\\s*[^=]*?\\s*===/g, '').trim();\nconst memory_summary = memMatch ? memMatch[1].trim() : '';\n\nconst promptText   = $('Build Prompt').item.json.prompt || '';\nconst tokens_input  = Math.round(promptText.length / 4);\nconst tokens_output = Math.round(raw.length / 4);\nconst tokens_total  = tokens_input + tokens_output;\n\nconst buildData = $('Build Prompt').item.json;\nreturn [{\n  json: {\n    ...buildData,\n    output: section_text,\n    memory_summary,\n    tokens_input,\n    tokens_output,\n    tokens_total,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        192
      ],
      "id": "51e26532-9001-4c7f-82e7-6f3d88640f84",
      "name": "Parse Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Counter": {
      "main": [
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Generating Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Validate Keywords": {
      "main": [
        [
          {
            "node": "Keywords valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords valid?": {
      "main": [
        [
          {
            "node": "Validation Length",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Length": {
      "main": [
        [
          {
            "node": "Length valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Length valid": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Saved ?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saving Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Is Saved ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5e232986-3b5f-4ace-923f-8c565c1db8fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f1a720162674d642a06a18b9169c79fad98b1cd35c60e5162fc8a927fece21d"
  },
  "nodeGroups": [],
  "id": "SjdO6M1BtKMDJuIR",
  "tags": []
}