workflows/S8 - Executive Summary.json
{
  "name": "S8 - Executive Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "s8-executive",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2160,
        400
      ],
      "id": "0e184459-526a-4c99-9db5-294d3d905efc",
      "name": "Webhook",
      "webhookId": "ea8314ce-9b62-4976-8b5b-574b5a46e3ce"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"completed\",\n  \"section\": \"executive_summary\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2007f73a-c345-4dd5-8aeb-db40c7dd0304",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('node');\n\nconst attempts = staticData.attempts ?? 0;\nconst newAttempts = attempts + 1;\n\nif (newAttempts >= 3) {\n    staticData.attempts = 0; // reset for next execution\n    return [{ json: { ...$json, attempts: newAttempts, is_failed: 'yes' } }];\n}\n\nstaticData.attempts = newAttempts;\nreturn [{ json: { ...$json, attempts: newAttempts, is_failed: 'no' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        416
      ],
      "id": "f4390156-7bf6-4e99-adb0-ddca37285c88",
      "name": "Retry Counter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-failed",
              "leftValue": "={{ $json.is_failed }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        416
      ],
      "id": "ca1f6056-8bbc-4bac-9f7c-7cd48596e44f",
      "name": "Is Failed?"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || '';\n\nconst requiredKeywords = [\n    ['Business', 'Aperçu de l\\'entreprise', 'Entreprise'],\n    ['Market', 'Opportunité de marché', 'Marché'],\n    ['Solution'],\n    ['Team', 'Équipe'],\n];\n\nconst missingKeywords = requiredKeywords.filter(group =>\n    !group.some(kw => output.toLowerCase().includes(kw.toLowerCase()))\n);\n\nreturn [{\n    json: {\n        ...$json,\n        keywords_valid: missingKeywords.length === 0 ? 'true' : 'false',\n        missing_keywords: missingKeywords.map(g => g[0]),\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        400
      ],
      "id": "afd3e88f-c903-4541-852e-336a8189bf3e",
      "name": "Validate Keywords"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.keywords_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1296,
        400
      ],
      "id": "9f0c85ba-209a-42e3-9959-3bcdc760160b",
      "name": "Keywords valid?"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || '';\nconst minLength = 400;\nconst length_valid = output.length >= minLength ? 'true' : 'false';\n\nreturn [{\n  json: {\n    ...$json,\n    length_valid: length_valid,\n    actual_length: output.length,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        208
      ],
      "id": "5d7f873e-42c6-4b89-aaff-7ce1e033dc8e",
      "name": "Validation Length"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66d700f5-efc0-4520-96bf-a6c6cb27a4be",
              "leftValue": "={{ $json.length_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -848,
        208
      ],
      "id": "f8967f5b-8062-4c51-9299-28ffbe596916",
      "name": "Length valid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6e3c984a-576e-4136-8ca8-ca06bda3157c",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        192
      ],
      "id": "cb3f3701-b710-4ace-bac0-eec51767ec73",
      "name": "Is Saved ?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"failed\",\n  \"section\": \"executive_summary\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        224
      ],
      "id": "06e41630-975b-415e-a9ad-a622e3092d61",
      "name": "Saving Failed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"failed\",\n  \"section\": \"executive_summary\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -64,
        400
      ],
      "id": "7574ae87-28dd-4a7e-b5df-5ca72f96d1a5",
      "name": "Generating Failed"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst sectionId = body.section_id;\nconst context = body.plan_context || {};\nconst language = body.language || 'english';\nconst businessPlanId = body.business_plan_id;\n\nconst headings = language === 'french' ? `\n- Aperçu de l'entreprise\n- Opportunité de marché\n- Notre solution\n- Équipe et leadership\n` : `\n- Business Overview\n- Market Opportunity\n- Our Solution\n- Team & Leadership\n`;\n\n// Use only MEMORY_SUMMARY from each section to stay within 8K token limit\n// Your frontend should send memory_summary strings in plan_context, not full prose\nconst prompt = `\nYou are a senior business consultant writing a professional business plan.\n\nYour task: Write the \"Executive Summary\" section — the final synthesis of a completed business plan.\nOutput language: ${language}\n\n## COMPANY PRESENTATION\n${context.company_presentation || 'Not provided'}\n\n## MARKET ANALYSIS\n${context.market_analysis || 'Not provided'}\n\n## ORGANIZATION & MANAGEMENT\n${context.org_management || 'Not provided'}\n\n## STRATEGY\n${context.strategy || 'Not provided'}\n\n## OPERATIONAL PLAN\n${context.operational_plan || 'Not provided'}\n\n## FINANCIAL PLAN\n${context.financial_plan || 'Not provided'}\n\n## RISK & OPPORTUNITY\n${context.risk_opportunity || 'Not provided'}\n\n## APPENDICES\n${context.appendices || 'Not provided'}\n\n## RULES\n- Synthesize ONLY from the context sections above. Do NOT introduce new facts, figures, or claims not present in the context.\n- Every statement MUST be traceable to at least one context section above.\n- Do NOT repeat verbatim content — distill into sharp, persuasive prose.\n- NEVER repeat a sentence, phrase, or paragraph already written earlier in your response. Each paragraph MUST introduce new information.\n- Financial figures (revenue, costs, profit, breakeven) MUST match EXACTLY the values in the Financial Plan context. Do not round or restate them differently.\n- Open with a single punchy paragraph (3–4 sentences max) stating: what the company does, who it serves, what makes it different, and why now. Do NOT open with the company name or founding date.\n- Do NOT open with the problem statement alone — balance problem + solution + opportunity.\n- Avoid these generic phrases entirely: \"poised to capitalize\", \"committed to innovation\", \"unique value proposition\", \"well-positioned\", \"high-quality product\". Replace with specific facts and figures.\n- The tone MUST be confident and investor-facing throughout.\n- Write at least 400 words.\n- Use formal, compelling business language.\n- Structure using these headings: ${headings}\n\n## OUTPUT FORMAT\nReturn your response using EXACTLY this structure. Nothing before. Nothing after.\n\n=== SECTION_TEXT ===\n[Write the full Executive Summary here, using the headings above]\n\n=== MEMORY_SUMMARY ===\nBusiness Concept: [1-sentence: what the company does and for whom]\nMarket Opportunity: [1-sentence: market size and target segment with exact figures]\nCompetitive Edge: [1-sentence: specific differentiator — no generic phrases]\nRevenue Model: [1-sentence with actual pricing figures from strategy context]\nFinancial Highlight: [Y1/Y2/Y3 revenue figures + breakeven month — exact values]\nFunding Ask: [value or \"Self-funded\"]\nRisk Flag: [top risk in 5 words or fewer]\nProfitability Status: [copy exactly from Financial Plan context]\n`;\n\nreturn [{\n  json: {\n    prompt,\n    sectionId: sectionId,\n    business_plan_id: businessPlanId,\n    section_name: 'executive_summary',\n    language,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        400
      ],
      "id": "66134827-70cc-4dfb-b5fe-386a10fe34b9",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a professional business plan writer. Always respond with well-structured, professional content.\nAlways return your response in exactly this format, with no text before or after:\n\n=== SECTION_TEXT ===\n[Your full detailed section here]\n\n=== MEMORY_SUMMARY ===\n[Compact key-value facts, max 150 words, no paragraphs]\nOne-Line Pitch:\nProblem:\nSolution:\nFunding Ask:\nUse of Funds:\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1744,
        400
      ],
      "id": "34ee87db-bdd2-462d-9fc7-bf99bed81e75",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "plan_sections",
          "mode": "list",
          "cachedResultName": "plan_sections"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.sectionId }}",
        "valuesToSend": {
          "values": [
            {
              "column": "generated_text",
              "value": "={{ $json.output }}"
            },
            {
              "column": "memory_summary",
              "value": "={{ $json.memory_summary }}"
            },
            {
              "column": "tokens_input",
              "value": "={{ $json.tokens_input }}"
            },
            {
              "column": "tokens_output",
              "value": "={{ $json.tokens_output }}"
            },
            {
              "column": "tokens_total",
              "value": "={{ $json.tokens_total }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -480,
        192
      ],
      "id": "1d346d23-7e88-4e36-aa58-743ddc6b642f",
      "name": "Update rows in a table",
      "credentials": {
        "mySql": {
          "id": "YbyXFsvQ7tbVBtF1",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('AI Agent').item.json.output || '';\n\n// Remove MEMORY_SUMMARY block from display text\nconst textMatch = raw.match(/=== SECTION_TEXT ===([\\s\\S]*?)=== MEMORY_SUMMARY ===/);\nconst memMatch  = raw.match(/=== MEMORY_SUMMARY ===([\\s\\S]*?)$/);\n\nlet section_text = textMatch \n    ? textMatch[1].trim() \n    : raw.replace(/=== MEMORY_SUMMARY ===([\\s\\S]*?)$/, '').trim();\n\n// Also strip any stray === headings === from section text\nsection_text = section_text.replace(/===\\s*.*?\\s*===/g, '').trim();\n\nconst memory_summary = memMatch ? memMatch[1].trim() : '';\n\nconst promptText    = $('Build Prompt').item.json.prompt || '';\nconst tokens_input  = Math.round(promptText.length / 4);\nconst tokens_output = Math.round(raw.length / 4);\nconst tokens_total  = tokens_input + tokens_output;\n\nconst buildData = $('Build Prompt').item.json;\nreturn [{\n    json: {\n        ...buildData,\n        output: section_text,\n        memory_summary: null,\n        tokens_input,\n        tokens_output,\n        tokens_total,\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        192
      ],
      "id": "e5a65015-a09d-4c1b-8e00-7de858731f5e",
      "name": "parse output"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1744,
        688
      ],
      "id": "b624c610-5bcf-44aa-a143-58b8cf6113e8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "WHtm7cQwd3U7HCyu",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Counter": {
      "main": [
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Generating Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Keywords": {
      "main": [
        [
          {
            "node": "Keywords valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords valid?": {
      "main": [
        [
          {
            "node": "Validation Length",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Length": {
      "main": [
        [
          {
            "node": "Length valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Length valid": {
      "main": [
        [
          {
            "node": "parse output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Saved ?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saving Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Is Saved ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse output": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e4c99df5-e3d7-43f1-a5ed-e80716e16fc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f1a720162674d642a06a18b9169c79fad98b1cd35c60e5162fc8a927fece21d"
  },
  "nodeGroups": [],
  "id": "6HcZSgadl5KaYBTo",
  "tags": []
}