workflows/Ventiqo mailing.json
{
  "name": "Ventiqo mailing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6479b24c-7c10-4b3a-807d-9fcbff7b4606",
      "name": "Webhook",
      "webhookId": "470617ad-4dca-43dd-a9c0-6bc0197b06bd"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.to }}",
        "subject": "={{ $json.body.subject }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: Arial, sans-serif; background: #f4f4f4; margin: 0; padding: 0; }\n  .container { max-width: 480px; margin: 40px auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.08); }\n  .header { background: #000000; padding: 32px; text-align: center; }\n  .header h1 { color: #00D4FF; font-size: 28px; margin: 0; letter-spacing: 2px; }\n  .body { padding: 32px; text-align: center; }\n  .body p { color: #555; font-size: 15px; line-height: 1.6; }\n  .code { font-size: 42px; font-weight: 700; letter-spacing: 12px; color: #000; background: #f0fafb; border: 2px solid #00D4FF; border-radius: 12px; padding: 16px 32px; display: inline-block; margin: 24px 0; }\n  .plan-badge { font-size: 24px; font-weight: 700; color: #00D4FF; background: #f0fafb; border: 2px solid #00D4FF; border-radius: 12px; padding: 12px 32px; display: inline-block; margin: 24px 0; }\n  .price { font-size: 32px; font-weight: 700; color: #00B981; margin: 8px 0; }\n  .features { text-align: left; margin: 16px 0; padding: 0 16px; }\n  .features li { color: #555; font-size: 14px; margin: 8px 0; list-style: none; padding-left: 4px; }\n  .features li:before { content: \"✓ \"; color: #00B981; font-weight: bold; }\n  .footer { padding: 20px 32px; text-align: center; border-top: 1px solid #eee; }\n  .footer p { color: #aaa; font-size: 12px; margin: 0; }\n  .btn { display: inline-block; background: #00D4FF; color: #000; font-weight: bold; padding: 12px 32px; border-radius: 8px; text-decoration: none; margin: 16px 0; }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Ventiqo</h1>\n    </div>\n    <div class=\"body\">\n\n      {{ $json.body.type === 'subscription' ? `\n        <p>🎉 Welcome to Ventiqo <strong>${$json.body.plan_name}</strong>!</p>\n        <div class=\"plan-badge\">${$json.body.plan_name} Plan</div>\n        <div class=\"price\">${$json.body.price}/month</div>\n        <p>Your subscription is now active. Here's what you get:</p>\n        ${$json.body.plan_name === 'Basic' ? `\n        <ul class=\"features\">\n          <li>5 business plans per week</li>\n          <li>PDF export with all templates</li>\n          <li>Business Model Canvas export</li>\n          <li>English & French support</li>\n        </ul>\n        ` : `\n        <ul class=\"features\">\n          <li>Unlimited business plans</li>\n          <li>PDF export with all templates</li>\n          <li>Business Model Canvas export</li>\n          <li>Priority support</li>\n        </ul>\n        `}\n        <a href=\"https://ventiqo.com/dashboard\" class=\"btn\">Go to Dashboard</a>\n        <p style=\"color:#aaa;font-size:13px;margin-top:16px;\">Your subscription renews monthly. You can manage it anytime from your subscription page.</p>\n      ` : `\n        <p>${$json.body.type === 'verification' ? 'Please verify your email address using the code below.' : 'Use the code below to reset your password.'}</p>\n        <div class=\"code\">${$json.body.code}</div>\n        <p>This code expires in <strong>10 minutes</strong>.</p>\n        <p style=\"color:#aaa;font-size:13px;\">If you did not request this, please ignore this email.</p>\n      `}}\n\n    </div>\n    <div class=\"footer\">\n      <p>© 2026 Ventiqo. All rights reserved.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "c8904564-cee1-448a-b608-b0a593fa7bf7",
      "name": "Send a message",
      "webhookId": "a9fa5e12-88cc-4bba-9b43-b885894e66ac",
      "credentials": {
        "gmailOAuth2": {
          "id": "zr0B4SrrprycNGxq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"sent\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "3743ddbc-c060-496e-b26e-b18cc53bc4b6",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3d6cd162-b956-490f-8450-6a40f9d9e219",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f1a720162674d642a06a18b9169c79fad98b1cd35c60e5162fc8a927fece21d"
  },
  "nodeGroups": [],
  "id": "owOGdVMpIoUmYNMd",
  "tags": []
}